<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>优惠券详情</title>
		<link rel="stylesheet" type="text/css" href="css/site.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body ng-app="myApp" ng-controller="myCtrl">
		<!--pre-Loading[[-->
		<div class="fix-screen">
			<div class="fs-text">
				数据获取失败！
			</div>
		</div>
		<!--pre-Loading]]-->
		<div class="header">
			<a class="headerBtn-back" ng-click="goBack()"><span class="icon-back"></span></a>
			评论详情
		</div>
		<div class="details">
			<!--网友评价[[-->
			<div class="partShop sd_comot">
				<!--<h3><a class="sd_new" href="comment.html?sId={{sId}}"><span class="comt_btn">我要评价</span></a>网友评价</h3>-->
				<ul>
					<li class="pingj_dialog"></li>
					<a href="comment_detail.html?RemoteId={{sId}}">
						<li ng-repeat="x in Commenting.pagelist">
							<div class="comt_photo">
								<img src="temp/icon_photo.png" />
							</div>
							<div class="comt_text">
								<h3 class="comt_acount">{{x.Account.Name}}<span class="icon_acount">V3</span></h3>
								<div class="comt_score">
									<span class="score_bgs">
									<i class="score_value" style="width:{{scoreToStar(x.Mark.Score)}};"></i>
								</span>
								</div>
								<div class="comt_content">{{x.Review.Content}}</div>
								<dl class="comt_imgUrl clearfix">
									<dd ng-repeat="y in x.Review.AttachmentsUrl"><img src="{{isPic(y)}}" width="60" height="60" /></dd>
								</dl>
							</div>
						</li>
					</a>
				</ul>
			</div>
			<!--网友评价]]-->
		</div>
		
		<script src="js/angular.min.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/getQueryString.js" type="text/javascript"></script>
		<script src="js/config.js" type="text/javascript"></script>
		<script src="js/comment_detail.js" type="text/javascript"></script>

	</body>

</html>